@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Michroma&family=Poiret+One&family=Quicksand&display=swap');

.App {
    text-align: left;
}

header {
    padding: 0.5rem;
    background-color: #ffa500;
    /* padding: 1rem 2rem 4.5rem 2rem; */
}

li {
    font-size: 2rem;
    color: #140a0a;
    display: inline;
    float: right;
    font-family: 'Quicksand', sans-serif;
    padding: 0.5rem 2rem 0rem 2rem;
}

ul {
    background-color: #ffa500;
    list-style-type: none;
    margin: 0rem;
    padding: 1rem 2rem 4.5rem 2rem;
}

button {
    font-size: 1.7rem;
    padding: 1rem;
}

.OrderBtn {
    font-size: 1.7rem;
    padding: 1rem;
}

.CartCountStyle {
    font-size: 3rem;
    font-weight: bold;
    padding: 0.5rem;
}

.CartIcon {
    font-size: 1.7rem;
    padding: 0.8rem;
}

img {
    width: 22rem;
    height: 17rem;
    border: 5px solid #ffa500;
}

/* .ImgStyle {
    background-color: #ffa500;
} */

.CheckoutBtnStyle {
    padding: -3rem;
    margin-top: 0.5rem;
    font-size: 2.8rem;
}

button {
    margin: 0.5rem;
}

.ItemTab {
    text-align: center;
    padding: 1rem;
    margin: 2rem;
    background-color: #dfdfdf;
    border-radius: 1%;
    width: 27rem;
    filter: drop-shadow(0 0 0.75rem #110709);
}

.ModalTitle {
    text-align: center;
}

/*
--------------------------------------------------
Font style 
---------------------------------------------------
*/
.ItemTitle {
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    font-size: 3.7rem;
}

.Adding {
    font-size: 2.7rem;
    padding-bottom: 2rem;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
}

.ItemCountCurrent {
    font-size: 4.2rem;
    padding: 2rem;
}

.ItemAdd,
.ItemRemove {
    background: #ffffff;
    cursor: pointer;
    font-size: 2rem;
    padding: 1.5rem;
}

.OrderTab {
    padding: 0rem;
}

/*
--------------------------------------------------
            Unused css
---------------------------------------------------
*/

/* .RatingsTabStyle {
    font-family: 'Michroma', sans-serif;
    font-size: 1.5rem;
} */

/* .ItemAdd {
    border: 3px solid rgba(6, 255, 6, 0.774);
}

.ItemRemove {
    border: 3px solid rgba(255, 30, 30, 0.787);
} */

/*
possible new style for menu items
*/
/* .ItemPanelStyle {
    background-color: #aca9a9;
    padding: 2rem;
} */
